@import url('bootstrap.min.css');
.owl-carousel .item{
    height: 450px;
    position: relative;
}
.owl-carousel .item img{
    height: 70%;
}
.owl-carousel .item textarea{
    display: table !important;
    margin: auto!important;
    width: 70% !important;
}
.owl-carousel .item .delete-media{
    position: absolute;
    right: 30px;
    top: 30px;
}